<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <title>Temple Prep Lesson 5</title>
    <link rel="stylesheet" href="/styles.css" type="text/css" media="screen" />
  </head>
  <body>
    <div id="root">Loading...</div>

    <div class="controls">
      <button id="prev">Prev</button>
      <button id="next">Next</button>
    </div>

    <div class="slide slide--jake">
      <h1>
        Welcome
        <div>to Temple Prep</div>
      </h1>
      <img loading="lazy" src="https://assets.ldscdn.org/6d/98/6d985df951828483c8089cf29e10346c455e0c5c/idaho_falls_temple_lds.jpeg" />
    </div>

    <div class="slide slide--jake">
      <div>
        <h2>Have I Done Any Good?</h2>
        <p>
          <div>1. Have I done any good in the world today?</div>
          <div>Have I helped anyone in need?</div>
          <div>Have I cheered up the sad and made someone feel glad?</div>
          <div>If not, I have failed indeed.</div>
          <div>Has anyone’s burden been lighter today</div>
          <div>Because I was willing to share?</div>
          <div>Have the sick and the weary been helped on their way?</div>
          <div>When they needed my help was I there?</div>
        </p>
        <p>
          <div>[Chorus]</div>
          <div>Then wake up and do something more</div>
          <div>Than dream of your mansion above.</div>
          <div>A blessing of duty and love.</div>
        </p>
      </div>
    </div>

    <div class="slide slide--jake">
      <div>
        <h2>Verse 2</h2>
        <p>
          <div>2. There are chances for work all around just now,</div>
          <div>Opportunities right in our way.</div>
          <div>Do not let them pass by, saying, “Sometime I’ll try,”</div>
          <div>But go and do something today.</div>
          <div>’Tis noble of man to work and to give;</div>
          <div>Love’s labor has merit alone.</div>
          <div>Only he who does something helps others to live.</div>
          <div>To God each good work will be known.</div>
        </p>
        <p>
          <div>[Chorus]</div>
          <div>Then wake up and do something more</div>
          <div>Than dream of your mansion above.</div>
          <div>A blessing of duty and love.</div>
        </p>
      </div>
    </div>

    <div class="slide slide--jake">
      <h2>3 lessons in 1!</h2>
      <ol>
        <li>Symbols</li>
        <li>Preparation</li>
        <li>Experience</li>
      </ol>
    </div>

    <div class="slide slide--jake">
      <h2>Why symbols?</h2>
      <ol>
        <li>Remember important things</li>
        <li>Teach us abstract truths</li>
        <li>Can represent feelings</li>
        <li>Teach differently according to readiness</li>
        <li>[Why else?]</li>
      </ol>
    </div>

    <div class="slide slide--jake">
      <h2>Symbols in the Gospel of Christ</h2>
      <ol>
        <li>Mustard seed</li>
        <li>Pearl of great price</li>
        <li>[What else?]</li>
      </ol>
    </div>

    <div class="slide slide--jake">
      <blockquote>
        If ye have faith as a grain of mustard seed, ye shall say unto this mountain, Remove hence to yonder place; and it shall remove; and nothing shall be impossible unto you.
      </blockquote>
      <div>
        Matt 17:20
      </div>
    </div>

    <div class="slide slide--jake">
      <img loading="lazy" src="https://assets.ldscdn.org/51/94/5194f56bddd95d02a2fd2cb5cc844657ff695c3f1050206/open_oyster_with_pearl.jpeg" />
      <blockquote>
        <p>
          Again, the kingdom of heaven is like unto a merchant man, seeking goodly pearls:
        </p>
        <p>
          Who, when he had found one pearl of great price, went and sold all that he had, and bought it.
        </p>
      </blockquote>
      <div>
        Matt 13:45-46
      </div>
    </div>

    <div class="slide slide--jake">
      <img loading="lazy" src="https://assets.ldscdn.org/b7/8f/b78fdb9115915052531e0b7681cb61170d008d071072829/jesus_christ_public_ministry.jpeg" />
      <blockquote>
        He that hath ears to hear, let him hear.
      </blockquote>
      <div>
        Matt 11:15
      </div>
    </div>

    <div class="slide slide--jake">
      <img loading="lazy" src="https://assets.ldscdn.org/2f/8e/2f8ec0896c16d7b42eb6d9185db21444bcb14dbc/lost_lamb_art_lds.jpeg" />
      <blockquote>
        My sheep hear my voice, and I know them, and they follow me.
      </blockquote>
      <div>
        John 10:27
      </div>
    </div>

    <div class="slide slide--jake">
      <h2>To benefit from symbols</h2>
      <ol>
        <li>Prepare</li>
        <li>Spiritual sensitivity</li>
        <li>[What else?]</li>
      </ol>
    </div>

    <div class="slide slide--april">
      <h2>Preparation</h2>
      <ol>
        <li>Worthy</li>
        <li>Humble</li>
        <li>Ready for essential ordinances</li>
        <li>Garment as a symbol of commitment</li>
        <li>Mindset for sacred worship</li>
        <li>[What else?]</li>
      </ol>
    </div>

    <div class="slide slide--april">
      <blockquote>
        Organize yourselves; prepare every needful thing; and establish a house, even a house of prayer, a house of fasting, a house of faith, a house of learning, a house of glory, a house of order, a house of God.
      </blockquote>
      <div>
        D&C 88:119
      </div>
    </div>

    <div class="slide slide--april">
      <blockquote>
        <p>
          Let him that is ignorant learn wisdom by humbling himself and calling upon the Lord his God, that his eyes may be opened that he may see, and his ears opened that he may hear;
        </p>
        <p>
          For my Spirit is sent forth into the world to enlighten the humble and contrite, and to the condemnation of the ungodly.
        </p>
      </blockquote>
      <div>
        D&C 136:32-33
      </div>
    </div>

    <div class="slide slide--april">
      <img loading="lazy" src="https://assets.ldscdn.org/63/af/63af0fe02ee7e5dc10f06de3b09e20f7171dd995/harold_b_lee.jpeg" />
      <blockquote>
        The temple ceremonies are designed by a wise Heavenly Father who has revealed them to us in these last days as a guide and a protection throughout our lives, that you and I might not fail to merit exaltation in the celestial kingdom where God and Christ dwell
      </blockquote>
      <div>
        President Harold B. Lee
      </div>
    </div>

    <div class="slide slide--april">
      <blockquote>
        <p>
          Church members who have been clothed with the garment in the temple have made a covenant to wear it throughout their lives. This has been interpreted to mean that it is worn as underclothing both day and night.
        </p>
        <p>
          The fundamental principle ought to be to wear the garment and not to find occasions to remove it. … When the garment must be removed, … it should be restored as soon as possible.
        </p>
        <p>
          The principles of modesty and keeping the body appropriately covered are implicit in the covenant and should govern the nature of all clothing worn. Endowed members of the Church wear the garment as a reminder of the sacred covenants they have made with the Lord and also as a protection against temptation and evil. How it is worn is an outward expression of an inward commitment to follow the Savior
        </p>
      </blockquote>
      <div>
        (First Presidency letter, 10 Oct. 1988)
      </div>
    </div>

    <div class="slide slide--april">
      <img loading="lazy" src="https://assets.ldscdn.org/7f/e4/7fe4fe7b249437095a8bd8317d9ed394006357ed/portrait_ezra_taft_benson_1986.jpeg" />
      <blockquote>
        Temples are places of personal revelation. When I have been weighed down by a problem or a difficulty, I have gone to the House of the Lord with a prayer in my heart for answers. These answers have come in clear and unmistakable ways
      </blockquote>
      <div>
        President Ezra Taft Benson
      </div>
    </div>

    <div class="slide slide--april">
      <h2>Logistics</h2>
      <ol>
        <li>Temple recommend</li>
        <li>Plan - phase of opening, appointment</li>
        <li>Invitations</li>
        <li>Dress</li>
        <li>Escort</li>
        <li>Garments</li>
        <li>Temple clothing</li>
        <li>[What else?]</li>
      </ol>
    </div>

    <div class="slide slide--jake">
      <div class="big">What do you hope to experience when you go to the temple?</div>
      <ol>
        <li>Ponder</li>
        <li>Journal</li>
        <li>Ask in prayer</li>
      </ol>
    </div>

    <div class="slide slide--jake">
      <h2>Day of</h2>
      <ol>
        <li>Be prepared</li>
        <li>Slow down, remember the feeling</li>
        <li>Don't worry</li>
        <li>[What else?]</li>
      </ol>
    </div>

    <div class="slide slide--jake">
      <img loading="lazy" src="https://assets.ldscdn.org/25/c9/25c9b2be3b9757c6e03a3c7ce9ceb9e0cab4c64e/kirtland_temple.jpeg" />
      <blockquote>
        We have given of our substance to build a house to thy name, that the Son of Man might have a place to manifest himself to his people.
      </blockquote>
      <div>
        D&C 109:5
      </div>
    </div>

    <div class="slide slide--jake">
      <div class="big">
        Consider: All we do in the temple is to worship Jesus Christ. 
        How does that affect your mindset in going to the temple?
      </div>
    </div>

    <div class="slide slide--jake">
      <h2>Ways I look at my temple experiences</h2>
      <ol>
        <li>Peace</li>
        <li>Work</li>
      </ol>
    </div>

    <div class="slide slide--jake">
      <img loading="lazy" src="https://assets.ldscdn.org/1a/0d/1a0d36b165d78209e820ca78a6b6a361da597bf5/thomas_s_monson.jpeg" />
      <blockquote>
        This vicarious work performed in our temples must be carried forth in the same spirit of selfless devotion and sacrifice that characterized the life of the Master.
      </blockquote>
      <div>
        President Thomas S. Monson
      </div>
    </div>

    <div class="slide slide--jake">
      <blockquote>
        <p>
          No work is more of a protection to this Church than temple work and the genealogical research which supports it. No work is more spiritually refining. No work we do gives us more power. No work requires a higher standard of righteousness. …
        </p>
        <p>
          If we will accept the revelation concerning temple ordinance work, if we will enter into our covenants without reservation or apology, the Lord will protect us. We will receive inspiration sufficient for the challenges of life. …
        </p>
        <p>
          So come to the temple—come and claim your blessings. It is a sacred work
        </p>
      </blockquote>
      <div>
        Pareparing to Enter the Holy Temple, 37
      </div>
    </div>

    <div class="slide slide--jake">
      <h2>Action items</h2>
      <ol>
        <li>What do I want to get from my experience?</li>
        <li>How do I need to prepare?</li>
      </ol>
    </div>

    <script src="/nodemod/socket.io/client-dist/socket.io.js" charset="utf-8"></script>
    <script>
      window.SERVER_HOST = '<%= serverHost %>'
    </script>
    <script src="/app.js" charset="utf-8"></script>
  </body>
</html>
